<style>
footer.fixed-bottom {
  background-color: transparent !important;
  font-size: 1.1rem !important;
  color: #828282 !important;
  padding: 2rem 0 !important;
}

footer.fixed-bottom .container {
  padding: 0 1rem;
}

footer.fixed-bottom .footer-link {
  color: var(--global-text-color);
  text-decoration: none;
  font-size: 1.1rem;
}

footer.fixed-bottom .footer-link:hover {
  color: var(--global-text-color);
  text-decoration: none;
}
</style>

<footer class="fixed-bottom" role="contentinfo">
   <div class="container mt-0">
      <div>© Copyright 2026 Andy Peng.</div>
   </div>
</footer>

