<div class="news">
   <div class="table-responsive" style="max-height: 60vw">
      <table class="table table-sm table-borderless">
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2026</th>
            <td> <a href="https://www.soundtransit.org/crosslake/events">Crosslake Connection Opening</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> February, 2026</th>
            <td> <a href="https://www.seahawks.com/super-bowl-lx/parade/">Seahawks World Champions Parade</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> January, 2026</th>
            <td> Super Bowl 60 is set and it's a rematch 11 years in the making: Patriots vs. Seahawks. </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2025</th>
            <td> <a href="https://youtu.be/lINRN_WSRrQ?si=3nLyf2X3NK8RnqGk">Insights from Amazon Board Member & DeepLearning.AI Co-founder, Andrew Ng</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2025</th>
            <td> <a href="https://openreview.net/forum/pineau%7Ca_message_from_ai_research_leaders_join_us_in_supporting_openreview">A Message from AI Research Leaders: Join Us in Supporting OpenReview</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2025</th>
            <td> <a href="https://blog.neurips.cc/2025/12/15/supporting-our-communitys-infrastructure-neurips-foundations-donation-to-openreview/">Supporting Our Community's Infrastructure: NeurIPS Foundation's Donation to OpenReview</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2025</th>
            <td> <a href="https://aaif.io/press/linux-foundation-announces-the-formation-of-the-agentic-ai-foundation-aaif-anchored-by-new-project-contributions-including-model-context-protocol-mcp-goose-and-agents-md/">Linux Foundation Announces the Formation of the Agentic AI Foundation (AAIF), Anchored by New Project Contributions Including Model Context Protocol (MCP), goose and AGENTS.md</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2025</th>
            <td> <a href="https://blog.neurips.cc/2025/11/28/reaffirming-our-code-of-conduct/">Reaffirming NeurIPS Code of Conduct</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2025</th>
            <td> <a href="https://blog.neurips.cc/2025/11/10/neurips-cdmx-2025-accepted-workshops-and-tutorials/">NeurIPS CDMX 2025: Accepted Workshops and Tutorials</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> October, 2025</th>
            <td> <a href="https://blog.neurips.cc/2025/10/02/reflecting-on-the-inaugural-neurips-position-paper-track-a-pilot-year-journey/">Reflecting on the Inaugural NeurIPS Position Paper Track: A Pilot Year Journey</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> August, 2025</th>
            <td> <a href="https://www.discoverslu.com/events/national-banana-split-day/">National Banana Split Day</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> July, 2025</th>
            <td> <a href="https://www.lennysnewsletter.com/p/anthropic-co-founder-benjamin-mann">Lenny's Podcast | Anthropic co-founder: Ben Mann</a> <a href="https://youtu.be/aStf54Vxy24?si=h8t03peBjYsoP8-z">No Priors Ep. 118</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2025</th>
            <td> <a href="https://www.aboutamazon.com/news/company-news/amazon-ceo-andy-jassy-on-generative-ai">Message from CEO Andy Jassy: Some thoughts on Generative AI</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2025</th>
            <td> Happy 8th Birthday "Attention Is All You Need" </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2025</th>
            <td> <a href="https://www.discoverslu.com/events/south-lake-union-saturday-market-opening-day/">10th Anniversary Block Party - SLU Saturday Market</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> May, 2025</th>
            <td> <a href="https://waterfrontparkseattle.org/blog/event/waterfront-park-5k-community-celebration/">Waterfront Park 5K</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> May, 2025</th>
            <td> <a href="https://foojay.io/today/foojay-podcast-71/">Celebrating 30 Years of Java with James Gosling</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2025</th>
            <td> <a href="https://www.darioamodei.com/post/the-urgency-of-interpretability">The Urgency of Interpretability</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2025</th>
            <td> <a href="https://www.discoverslu.com/events/celebrate-earth-day-in-slu/">Celebrate Earth Day in SLU</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2025</th>
            <td> <a href="https://www.blueorigin.com/news/new-shepard-ns-31-mission">Blue Origin's first all-female space flight</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2025</th>
            <td> <a href="https://www.cics.umass.edu/stories/10th-birthday-bash">CICS 10th Birthday Bash</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2025</th>
            <td> <a href="https://lamarcebicheria.com/news/pisco-hour-bellevue/">Pisco Hour</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2025</th>
            <td> <a href="https://www.seattlecherryblossomrun.com/">Seattle Cherry Blossom Run</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2025</th>
            <td><a href="https://www.madrona.com/madronas-30-year-journey-that-has-just-begun/">Madrona 30-Year</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2025</th>
            <td><a href="https://www.umass.edu/news/article/umass-amherst-computer-scientist-co-recipient-nobel-prize-computing-foundational-work">UMass Amherst | Andrew Barto and his former graduate student Richard Sutton honored with 2024 Turing Award as pioneers of reinforcement learning</a></td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2024</th>
            <td> <a href="https://www.youtube.com/watch?v=om2lIWXLLN4&ab_channel=Anthropic">Building Anthropic | A conversation with our co-founders</a></td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2024</th>
            <td> <a href="https://neurips.cc/Conferences/2024/StatementOnInclusivity">NeurIPS Statement On Inclusivity</a></td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2024</th>
            <td> <a href="https://www.youtube.com/watch?v=s71nJQqzYRQ&ab_channel=NewYorkTimesEvents">2024 New York Times DealBook Summit | The Interview: From Amazon to Space — Jeff Bezos Talks Innovation, Progress and What's Next</a></td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/aws/werner-vogels-amazon-tech-predictions-2025">Tech predictions for 2025</a> and beyond, according to Amazon CTO Dr. Werner Vogels</td>
         </tr>
         -->
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2024</th>
            <td> <a href="https://www.lesswrong.com/posts/bdQhzQsHjNrQp7cNS/estimates-of-gpu-or-equivalent-resources-of-large-ai-players">Estimates of GPU or equivalent resources of large AI players for 2024/5</a>  </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2024</th>
            <td> <a href="https://www.bellevuedowntown.com/post/20-years-of-snowflake-lane">20 Years of Snowflake Lane</a>  </td>
         </tr>
         <tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2024</th>
            <td> <a href="https://menlovc.com/2024-the-state-of-generative-ai-in-the-enterprise/">Menlo Ventures | 2024: The State of Generative AI in the Enterprise</a>  </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2024</th>
            <td> <a href="https://www.youtube.com/watch?v=IxkvVZua28k&ab_channel=Lenny%27sPodcast">Lenny's Podcast | A conversation with OpenAI's CPO Kevin Weil, Anthropic's CPO Mike Krieger, and Sarah Guo</a>  </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2024</th>
            <td> <a href="https://aws.amazon.com/serverless/10th-anniversary/">10 Years of Serverless with AWS Lambda and Amazon ECS</a>  </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2024</th>
            <td> <a href="https://www.washington.edu/wday/">W Day.</a>  </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> October, 2024</th>
            <td> <a href="https://www.marysplaceseattle.org/celebrating-25-years">Mary's Place celebrates 25 years</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> October, 2024</th>
            <td> <a href="https://www.seahawks.com/news/seattle-seahawks-announce-multi-year-partnership-extension-with-amazon-web-services">Seattle Seahawks Announce Multi-Year Partnership Extension with Amazon Web Services</a> <a href="https://press.aboutamazon.com/2024/10/seattle-seahawks-announce-multi-year-partnership-extension-with-amazon-web-services">Press Release</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> October, 2024</th>
            <td> <a href="https://mp.weixin.qq.com/s/7qbcaW5sIsujO6kauIWY8Q">China Entrepreneur Network - University of Washington, Seattle. Dinner With Professionals (DWP).</a>  </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> October, 2024</th>
            <td> <a href="https://darioamodei.com/machines-of-loving-grace">Dario Amodei - Machines of Loving Grace.</a> <a href="https://www.youtube.com/watch?v=ugvHCXCOmm4&ab_channel=LexFridman">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
               </svg>
            </a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> September, 2024</th>
            <td> <a href="https://youtu.be/tUG3UWSP2ZU?si=IJMEVjfJR45d2DvM">PyTorch Con 2024</a> | Keynote Panel Discussion: Scaling & Benchmarking <a href="https://www.youtube.com/watch?v=01a4tBLEzVM&ab_channel=PyTorch">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
               </svg>
            </a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> September, 2024</th>
            <td> CNBC | <a href="https://www.theinformation.com/briefings/anthropic-reportedly-projected-to-reach-1-billion-in-annualized-revenue-this-year">Anthropic Projected To Reach $1 Billion in Annualized Revenue 2024</a> <a href="https://www.youtube.com/watch?v=szUF4D8NoJM&ab_channel=CNBCTelevision">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
               </svg>
            </a> </td>
         </tr>
         -->
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> September, 2024</th>
            <td> <a href="https://www.state.gov/united-states-and-eight-companies-launch-the-partnership-for-global-inclusivity-on-ai/">United States and Eight Companies Launch the Partnership for Global Inclusivity on AI</a> </td>
         </tr>
         -->
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> August, 2024</th>
            <td> <a href="https://siliconangle.com/2024/08/26/exclusive-inside-mind-aws-ceo-matt-garman-aims-shape-future-cloud-ai/">Matt Garman shares future-forward vision, remains grounded in AWS's core values</a> <a href="https://www.youtube.com/watch?v=fQdTdWfpu8Q&embeds_referring_euri=https%3A%2F%2Fsiliconangle.com%2F">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
               </svg>
            </a> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> August, 2024</th>
            <td> <a href="https://venturebeat.com/ai/act-2-in-gen-ai-lets-get-ready-now/">Are we prepared for 'Act 2' of gen AI ?</a> by Baskar Sridharan is VP of AWS AI/ML services and infrastructure </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> July, 2024</th>
            <td> <a href="https://blog.vllm.ai/2024/07/25/lfai-perf.html">vLLM x LF AI & Data Foundation</a> <a href="https://x.com/vllm_project/status/1816600052397408370" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> July, 2024</th>
            <td> <a href="https://about.fb.com/news/2024/07/open-source-ai-is-the-path-forward/">Open Source AI Is the Path Forward By Mark Zuckerberg</a> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> July, 2024</th>
            <td> <a href="https://www.amazon.science/blog/aws-vp-of-ai-and-data-on-computer-vision-research-at-amazon">2024 Conference on Computer Vision and Pattern Recognition (CVPR), Swami Sivasubramanian's keynote</a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> July, 2024</th>
            <td> Pickleball for All July 13-14 Seattle, WA <small><a href="https://komonews.com/news/local/pickleball-for-all-downtown-seattle-road-closures-traffic-driving-sports-pickle-ball-paddle-registration-free-amazon-spheres-south-lake-union-metro-association-parks-where-when-sixth-avenue-blanchard-virginia-courts">KOMONEWS</a> <a href="https://www.seattleparksfoundation.org/event/pickleball-for-all-3/">Seattle Parks Foundation</a> <a href="https://www.classy.org/event/pickleball-for-all-2024/e592830">Register</a> </small> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> July, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/workplace/amazon-ceo-andy-jassy-leadership-principles-video-podcast">Amazon CEO Andy Jassy explains 8 things you may not know about the company's Leadership Principles</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2024</th>
            <td> <a href="https://www.linuxfoundation.org/blog/how-does-the-linux-foundation-work-and-what-does-it-do">How Does the Linux Foundation Work and What Does it Do?</a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2024</th>
            <td> <a href="https://rockset.com/blog/openai-acquires-rockset/">OpenAI acquires Rockset</a> <small><a href="https://openai.com/index/openai-acquires-rockset/">OpenAI's blog post</a></small> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2024</th>
            <td> <a href="https://www.cncf.io/blog/2024/06/17/introducing-our-h1-2024-cloud-native-ambassadors/">Introducing our H1 2024 Cloud Native Ambassadors</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2024</th>
            <td> <a href="https://news.cs.washington.edu/2024/06/17/you-write-your-own-story-allen-school-celebrates-the-graduating-class-of-2024/">Paul G. Allen School 2024 Graduation Celebration Commencement Speaker: Andy Jassy (President and CEO, Amazon)</a> <a href="https://www.youtube.com/watch?v=AS5bRWsktTI">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
               </svg>
            </a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> June, 2024</th>
            <td> <a href="https://events.linuxfoundation.org/kuber10es-birthday-bash/">KuberTENes Birthday Bash SAVE THE DATE!</a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> May, 2024</th>
            <td> <a href="https://www.linkedin.com/pulse/mba-mentoring-program-celebrates-25th-anniversary-2hyac/">UW Foster School of Business | MBA mentoring program celebrates 25th anniversary</a> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> May, 2024</th>
            <td> <a href="https://youtu.be/HxP4wi4DhA0?si=88eH_cJVGv3ZHtry">Open Source Summit North America | Keynote Fifteen years of formal methods at AWS by Marc Brooker</a> <a href="https://twitter.com/MarcJBrooker/status/1787535768971616348" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> May, 2024</th>
            <td> <a href="https://www.cnbc.com/video/2024/05/02/amazon-web-services-ceo-adam-selipsky-on-the-battle-for-the-hyperscale-data-center-market.html?&qsearchterm=selipsky">Adam Selipsky on why AWS's cloud growth was a standout in earning reports</a> <a href="https://x.com/jonfortt/status/1786112067420004470" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057a3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> May, 2024</th>
            <td> <a href="https://diginomica.com/aws-sees-100-billion-annual-run-rate-generative-ai-already-provides-multi-billion-dollar">AWS sees $100 billion annual run rate as generative AI already provides "a multi-billion dollar" contribution</a> </td>
         </tr>

         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2024</th>
            <td> <a href="https://www.cnbc.com/video/2024/04/11/amazons-partnership-with-anthropic-heres-what-you-need-to-know.html">CNBC sat down with Matt Wood, VP of Artificial Intelligence at Amazon, to discuss Amazon's partnership with Anthropic</a> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/company-news/dr-andrew-ng-joins-amazon-board-of-directors">Dr. Andrew Ng appointed to Amazon's Board of Directors</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/company-news/amazon-ceo-andy-jassy-2023-letter-to-shareholders">CEO Andy Jassy's 2023 Letter to Shareholders</a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/innovation-at-amazon/amazon-invests-25-million-in-a-10-year-research-collaboration-to-advance-ai">Amazon is teaming up with NVIDIA, the University of Washington, and the University of Tsukuba in Japan to push the boundaries of AI innovation</a>, <a href="https://www.washington.edu/news/2024/04/09/uw-joins-110-million-cross-pacific-effort-to-advance-artificial-intelligence/">UW joins $110M cross-Pacific effort to advance artificial intelligence</a> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> April, 2024</th>
            <td> <a href="https://www.madronavl.com/stories/decade-of-innovation-celebrating-the-10th-anniversary-of-madrona-venture-labs">Decade of innovation: celebrating the 10th anniversary of Madrona Venture Labs</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2024</th>
            <td> GTC 2024: Transforming AI Panel. Jensen Huang, Ashish Vaswani, Noam Shazeer, Jakob Uszkoreit, Llion Jones, Aidan Gomez, Lukasz Kaiser, Illia Polosukhin. </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> March, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/company-news/amazon-anthropic-ai-investment">Amazon and Anthropic deepen their shared commitment to advancing generative AI</a> <small><a href="https://www.aboutamazon.com/news/aws/amazon-bedrock-anthropic-ai-claude-3">Amazon News</a>, <a href="https://aws.amazon.com/blogs/machine-learning/unlocking-innovation-aws-and-anthropic-push-the-boundaries-of-generative-ai-together/">AWS Machine Learning</a> blog, <a href="https://www.anthropic.com/news/claude-3-family">Anthropic news</a> blog, Dr. Matt Wood's <a href="https://mo.nochro.me/introducing-claude-3">blog post</a>.</small> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> February, 2024</th>
            <td> <a href="https://www.aboutamazon.com/news/aws/werner-vogels-tech-predictions-2024">4 tech predictions for 2024</a> and beyond, according to Amazon CTO Dr. Werner Vogels </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> January, 2024</th>
            <td> World Economic Forum | CEO Andy Jassy talks AI strategy <a href="https://www.youtube.com/watch?v=uxEL9tBDzlE">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
               </svg>
            </a> Meet The Leader <a href="https://pod.link/1534915560/episode/f0dab7432713665d4c6726c30ae2b547"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
               <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/>
            </svg></a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2023</th>
            <td> <a href="https://www.youtube.com/watch?v=DcWqzZ3I2cY">Lex Fridman Podcast #405 | Jeff Bezos: Amazon and Blue Origin</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> December, 2023</th>
            <td> <a href="https://www.amazon.science/blog/at-neurips-whats-old-is-new-again">At NeurIPS, what's old is new again</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"> November, 2023</th>
            <td> <a href="https://aws.amazon.com/blogs/machine-learning/welcome-to-a-new-era-of-building-in-the-cloud-with-generative-ai-on-aws/">Welcome to a New Era of Building in the Cloud with Generative AI on AWS</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">November, 2023</th>
            <td> RocksDB turning 10! <a href="https://x.com/RocksDB/status/1712534057454915712?s=20" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057a3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">October, 2023</th>
            <td> <a href="https://seattleartmuseum.org/whats-on/exhibitions/hokusai">Seattle Art Museum | Hokusai</a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">September, 2023</th>
            <td> <a href="https://www.aboutamazon.com/news/aws/aws-amazon-bedrock-general-availability-generative-ai-innovations">AWS announces the general availability of Amazon Bedrock and powerful new offerings to accelerate generative AI innovation</a> </td>
         </tr>
         -->
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">June, 2023</th>
            <td> <a href="https://www.bloomberg.com/news/videos/2023-06-15/aws-vp-on-importance-of-data-strategy-to-pivot-to-ai-video">Bloomberg | AWS VP on Importance of Data Strategy to Pivot to AI</a> </td>
         </tr>
         -->
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">June, 2023</th>
            <td> <a href="https://aws.amazon.com/blogs/containers/happy-5th-birthday-amazon-eks/">Happy 5th Birthday Amazon EKS!</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">May, 2023</th>
            <td> <a href="https://www.usenix.org/conference/atc23/presentation/brooker">USENIX ATC '23</a> | <a href="https://brooker.co.za/blog/2023/05/23/snapshot-loading.html">On-demand Container Loading in AWS Lambda</a> <a href="https://www.usenix.org/conferences/best-papers"><i>Awarded Best Paper!</i></a> <a href="https://twitter.com/Werner/status/1686403851308404736?s=20" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057a3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">May, 2023</th>
            <td> <a href="https://www.seattlespheres.com/fifth-anniversary">Celebrating Five Years of The Spheres</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">April, 2023</th>
            <td> <a href="https://aws-kubecon-eu.splashthat.com/">AWS at KubeCon + CloudNativeCon Europe 2023</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">April, 2023</th>
            <td> <a href="https://www.aboutamazon.com/news/aws/aws-amazon-bedrock-generative-ai-service">AWS announces Amazon Bedrock and multiple generative AI services and capabilities</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"><i>Pi Day</i>, 2023</th>
            <td> <a href="https://aws.amazon.com/blogs/aws/celebrate-amazon-s3s-17th-birthday-at-aws-pi-day-2023/">Celebrate Amazon S3's 17th birthday at AWS Pi Day 2023</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">March, 2023</th>
            <td> <a href="https://www.usenix.org/conference/fast23/presentation/warfield">USENIX FAST '23</a> | <a href="https://www.allthingsdistributed.com/2023/07/building-and-operating-a-pretty-big-storage-system.html">Building and operating a pretty big storage system called S3</a> <a href="https://twitter.com/Werner/status/1684582839377952768?s=20" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057a3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> <a href="https://twitter.com/andywarfield/status/1684583502346600449?s=20" title="Twitter">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057a3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
               </svg>
            </a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">November, 2022</th>
            <td> <a href="https://aws.amazon.com/blogs/containers/happy-5th-birthday-aws-fargate/">Happy 5th birthday AWS Fargate!!</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">October, 2022</th>
            <td> <a href="https://aws.amazon.com/blogs/containers/aws-at-kubecon-cloudnativecon-north-america-2022/">AWS at KubeCon + CloudNativeCon North America 2022</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">October, 2022</th>
            <td> <a href="https://ecsandapprunnernetworkingevent.splashthat.com/">ECS and App Runner Happy Hour and Networking Event</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">September, 2022</th>
            <td> <a href="https://aws-startup-lofts.com/amer/loft/san-francisco/e/426a6/building-serverless-web-applications-with-aws-apprunner-in-minutes">Developer Summit: App Runner</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">May, 2022</th>
            <td> <a href="https://dev.to/aws/aws-open-source-news-and-updates-113-16a4">AWS open source news and updates, #113</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">May, 2022</th>
            <td> <a href="https://aws-observability.github.io/aws-o11y-recipes/apprunner/">AWS Observability Recipes for App Runner</a> now "Fresh out".👨‍🍳 </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">April, 2022</th>
            <td> <a href="https://awscontainerdaydocker.splashthat.com/">AWS Container Day with Docker</a> open for registration. </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">April, 2022</th>
            <td> <a href="https://aws.amazon.com/blogs/containers/save-the-date-aws-containers-events-in-may/">Save the date: AWS Containers events in May</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">April, 2022</th>
            <td> <a href="https://aws.amazon.com/blogs/aws/aws-week-in-review-april-18-2022/">AWS Week in Review – April 18, 2022</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">June, 2021</th>
            <td> <a href="https://www.infoq.com/news/2021/06/deepak-singh-aws/">InfoQ | Q&A with AWS VP of Compute Services Deepak Singh about AWS App Runner</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">January, 2020</th>
            <td> <a href="https://arxiv.org/abs/2001.08361">Scaling Laws for Neural Language Models</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">November, 2019</th>
            <td> <a href="https://www.aboutamazon.com/news/devices/new-ways-to-manage-your-medications-at-home-using-alexa">New ways to manage your medications at home using Alexa</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">November, 2019</th>
            <td> <a href="https://www.amazon.science/blog/alexa-at-five-looking-back-looking-forward">Alexa at five: Looking back, looking forward</a> </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;"><i>Pi Day</i>, 2016</th>
            <td> <a href="https://aws.amazon.com/10year/">CELEBRATING THE 10TH ANNIVERSARY OF AMAZON WEB SERVICES</a> , <a href="https://www.allthingsdistributed.com/2016/03/10-lessons-from-10-years-of-aws.html">10 Lessons from 10 Years of Amazon Web Services</a> </td>
         </tr>
         <!--
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">September, 2014</th>
            <td> UMass Amherst Computer Science 50 Years </td>
         </tr>
         <tr>
            <th scope="row" style="width: 20%;font-family: monospace;">September, 2013</th>
            <td> <a href="https://www.umass.edu/150/">UMass Amherst 150 Years</a> </td>
         </tr>
         -->
      </table>
   </div>
</div>
