<ul class="card-text font-weight-light list-group list-group-flush">
   <li class="list-group-item">
      <h5 class="font-italic">Mentor</h5>
      <ul class="subitems">
         <li><span class="subitem">UWash. Foster School of Business Undergraduate 2025; MBA program 2026, Course Judge: MKTG 565 Building Business Applications of LLMs and Generative Models; Master of Science programs 2026, 2025, 2024 academic year; Course Judge: MSIS 549 (2) Machine Learning and Artificial Intelligence for Business Applications (2026, 2024), MSIS 547 (2) Managing in the Era of Cloud Computing (2024), MSIS 522 Advanced Business Machine Learning (2) (2026)</span></li>
         <li><span class="subitem"><a href="https://aws.amazon.com/machine-learning/scholarship/">AWS AI/ML Mentor Scholarship Program</a> 2024</span></li>
      </ul>
   </li>
   <li class="list-group-item">
      <h5 class="font-italic">Organizing Committee</h5>
      <ul class="subitems">
         <li><span class="subitem">NeurIPS 2025, <a href="https://neurips.cc/Conferences/2025/Committees">Workshop Co-Chair</a></span></li>
      </ul>
   </li>
   <li class="list-group-item">
      <h5 class="font-italic">Program Committee / Reviewer</h5>
      <ul class="subitems">
         <li><span class="subitem">NeurIPS 2025, <a href="https://blog.neurips.cc/2025/08/08/whats-next-on-the-position-paper-track/">Position Paper Track</a></span></li>
         <li><span class="subitem">NeurIPS Workshops <a href="https://dl4c.github.io/">Deep Learning for Code (DL4C)</a> 2025</span></li>
         <li><span class="subitem">KDD Workshops <a href="https://kdd-eval-workshop.github.io/genai-evaluation-kdd2025/">Agentic & GenAI Evaluation</a> 2025</span>, <a href="https://magic-town-d89.notion.site/KDD-2025-Workshop-on-Inference-Optimization-for-Generative-AI-1c8120fc782780b48f7efc32d6de368a?pvs=143">Inference Optimization for GenAI</a> 2025</span></li>
         <li><span class="subitem">ICML (International Conference on Machine Learning) <a href="https://icml.cc/Conferences/2025/ProgramCommittee">2025</a></span></li>
         <li><span class="subitem">ICML (International Conference on Machine Learning) Workshops Deep Learning for Code (DL4C) 2026, <a href="https://icml-structured-fm-workshop.github.io/">FMSD</a> 2026, 2025</span></li>
         <li><span class="subitem">ICLR (International Conference on Learning Representations) 2026 </li>
         <li><span class="subitem">ICLR (International Conference on Learning Representations) Workshops <a href="https://tsalm-workshop.github.io/">TSALM</a> 2026, <a href="https://open-foundation-model.github.io/">SCI-FM</a> 2025</span></li>
         <li><span class="subitem">KubeCon + CloudNativeCon North America 2026 (AI Inference + Agentic - Evaluation), North America 2025, India 2024, North America 2024, Europe 2024, China 2024, North America 2023, Europe 2023</span></li>
         <li><span class="subitem">KubeCon + CloudNativeCon + OpenInfra Summit + PyTorch Conference China 2026, PyTorch Con 2025, 2024</span></li>
         <li><span class="subitem">Open Source Summit Korea 2026, <a href="https://events.linuxfoundation.org/open-source-summit-korea/program/program-committee/">Korea 2025</a>, <a href="https://events.linuxfoundation.org/archive/2025/open-source-summit-india/program/program-committee/">India 2025</a>, <a href="https://events.linuxfoundation.org/archive/2025/open-source-summit-north-america/program/program-committee/">North America 2025</a>, <a href="https://events.linuxfoundation.org/archive/2024/open-source-summit-europe/program/program-committee/">Europe 2024</a>, China 2024, <a href="https://events.linuxfoundation.org/archive/2024/open-source-summit-north-america/program/program-committee/">North America 2024</a>, <a href="https://events.linuxfoundation.org/archive/2023/open-source-summit-europe/program/program-committee/">Europe 2023</a></span></li>
         <li><span class="subitem">Open Source GenAI & ML Summit Japan 2024, China 2024, <a href="https://events.linuxfoundation.org/ai-dev-europe/program/program-committee/">Europe 2024</a></span></li>
         <li><span class="subitem">Southern California Linux Expo 2026, 2025, 2024, 2023 (Open Source AI and Applied Science; Cloud Native)</span></li>
      </ul>
   </li>
   <li class="list-group-item">
      <h5 class="font-italic">Staff</h5>
      <ul class="subitems">
         <li><span class="subitem">KubeCon + CloudNativeCon North America 2019 - 2021</span></li>
         <li><span class="subitem">CVPR 2024, NeurIPS 2019</span></li>
      </ul>
   </li>
   <li class="list-group-item">
      <h5 class="font-italic">Guest Speaker</h5>
      <ul class="subitems">
         <li><span class="subitem"><a href="https://seattleregatta2023.sched.com/speaker/yiming_peg.2589xy9k?iframe=no">Wo(men) In Tech Regatta 2023</a></span></li>
      </ul>
   </li>
   <li class="list-group-item">
      <h5 class="font-italic">Recruiting Team - Technical Interviewer</h5>
      <ul class="subitems">
         <li><span class="subitem">Grace Hopper Celebration 2021, 2020</span></li>
      </ul>
   </li>
</ul>

